<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meet Mia</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700;800&family=Dosis:wght@300;400;500;600&display=swap"
    rel="stylesheet"
    />
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
    <script type="module" src="/main.js"></script>
  </head>
  <!-- TODO: navDrawerOpen || !isMobile -->
  <body :class="{'no-scrollbar': navDrawerOpen}">
    <div
      @vue:mounted="runOnMount"
      class="container header__wrapper"
      :class="{'full-color': categoryBarOpen}"
    >
      <div class="row">
        <header class="header">
          <div
            class="header__hamburger icon__wrapper left tablet"
            @click="openNavDrawer"
          >
            <box-icon class="icon" size="md" name="menu-alt-left"></box-icon>
          </div>
          <div class="header__logo">
            <img
              src="./assets/images/logo.png"
              alt="Logo"
              class="header__logo--img"
            />
          </div>
          <nav class="nav desktop">
            <ul class="nav__list nav__list--left">
              <li class="nav__item">
                <span class="nav__link" @click="toggleCategoryBar">
                  Ponuda
                  <box-icon
                    class="icon inner-icon"
                    name="chevron-down-square"
                  ></box-icon>
                </span>
              </li>
              <li class="nav__item">
                <a href="o-nama.html" class="nav__link">O nama</a>
              </li>
              <li class="nav__item">
                <a href="blog.html" class="nav__link">Blog</a>
              </li>
            </ul>
            <ul class="nav__list nav__list--right">
              <li class="nav__item"></li>
              <li class="nav__item">
                <a href="kontakt.html" class="nav__link">Kontakt</a>
              </li>
              <li class="nav__item">
                <a href="kosarica.html" class="nav__link with-icon">
                  <box-icon class="icon" name="cart-alt"></box-icon>
                </a>
              </li>
              <li class="nav__item">
                <a href="profil.html" class="nav__link with-icon">
                  <box-icon class="icon" name="user-circle"></box-icon>
                </a>
              </li>
            </ul>

            <div
              class="nav__category-bar category-bar desktop"
              v-show="categoryBarOpen"
            >
              <div class="row">
                <nav class="category-bar__nav">
                  <ul class="category-bar__list">
                    <li class="category-bar__item">
                      <a href="#" class="category-bar__link">Kolači</a>
                    </li>
                    <li class="category-bar__item">
                      <a href="#" class="category-bar__link">Torte</a>
                    </li>
                    <li class="category-bar__item">
                      <a href="#" class="category-bar__link">Krosasani</a>
                    </li>
                    <li class="category-bar__item">
                      <!-- TODO: not clickable becasue of image -->
                      <a href="#" class="category-bar__link">Sendviči</a>
                    </li>
                    <li class="category-bar__item">
                      <a href="#" class="category-bar__link">Ostalo</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </nav>
          <div class="header__hamburger icon__wrapper right tablet">
            <a href="/kosarica">
              <box-icon class="icon" size="md" name="cart-alt"></box-icon>
            </a>
          </div>

          <div class="nav-drawer tablet" v-if="navDrawerOpen">
            <header class="nav-drawer__header row">
              <div class="icon__wrapper left" @click="closeNavDrawer">
                <box-icon class="icon" size="md" name="x"></box-icon>
              </div>
              <div class="header__logo">
                <img
                  src="./assets/images/logo.png"
                  alt="Logo"
                  class="header__logo--img"
                />
              </div>
              <div class="header__hamburger tablet icon__wrapper right">
                <a href="/kosarica" class="nav-link-mobile icon__link">
                  <box-icon class="icon" size="md" name="cart-alt"></box-icon>
                </a>
              </div>
            </header>
            <nav class="nav-drawer__nav row">
              <ul class="nav-drawer__list">
                <li class="nav-drawer__item">
                  <span
                    class="nav-drawer__link"
                    @click="toggleCategoryDropdown"
                  >
                    Ponuda
                    <box-icon
                      class="icon inner-icon"
                      size="md"
                      name="chevron-down-square"
                    ></box-icon>
                  </span>
                  <ul
                    class="nav-drawer-dropdown__list"
                    v-if="categoryDropdownOpen"
                  >
                    <li class="nav-drawer-dropdown__item">
                      <a href="#" class="nav-drawer-dropdown__link">
                        <span class="emoji">🍰️</span> Kolači</a
                      >
                    </li>
                    <li class="nav-drawer-dropdown__item">
                      <a href="#" class="nav-drawer-dropdown__link">
                        <span class="emoji">🎂️</span> Torte</a
                      >
                    </li>
                    <li class="nav-drawer-dropdown__item">
                      <a href="#" class="nav-drawer-dropdown__link">
                        <span class="emoji">🥐</span> Krosasani
                      </a>
                    </li>
                    <li class="nav-drawer-dropdown__item">
                      <a href="#" class="nav-drawer-dropdown__link"
                        ><span class="emoji">🥪️</span> Sendviči</a
                      >
                    </li>
                    <li class="nav-drawer-dropdown__item">
                      <a href="#" class="nav-drawer-dropdown__link"
                        ><span class="emoji">🍹️</span> Ostalo</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-drawer__item">
                  <a href="o-nama.html" class="nav-drawer__link">O nama</a>
                </li>
                <li class="nav-drawer__item">
                  <a href="blog.html" class="nav-drawer__link">Blog</a>
                </li>
                <li class="nav-drawer__item">
                  <a href="kontakt.html" class="nav-drawer__link">Kontakt</a>
                </li>
              </ul>
              <div class="nav-drawer__user">
                <a
                  href="/profil"
                  class="nav-link nav-link-mobile"
                  aria-label="Location"
                >
                  <box-icon
                    class="icon"
                    size="lg"
                    name="user-circle"
                  ></box-icon>
                  Matija Osrečki
                </a>
              </div>
            </nav>
          </div>
        </header>
      </div>
    </div>

    <main class="container main">
      <section class="section-hero row">
        <div class="section-hero__content">
          <h1 class="section-hero__title">
            Zemi si tortu
            <!-- <br /> -->
            <!-- And eat it too. -->
          </h1>
          <div class="section-hero__buttons">
            <button class="btn btn--primary" @click="calculateOffsetLeft">
              primary
            </button>
            <button class="btn btn--secondary">secondary</button>
          </div>
        </div>
        <div class="section-hero__image">
          <img src="./assets/images/hero.png" alt="" draggable="false" />
        </div>
      </section>

      <section class="section-popular">
        <div class="title-box row">
          <box-icon class="icon" name="trending-up"></box-icon>
          <h2>Popularno ovaj tjedan</h2>
        </div>
        <div class="product-grid">
          <div class="product-card" v-for="i in 12">
            <div class="product-card__image">
              <img src="./assets/images/product-01.avif" alt="" />
            </div>
            <div class="product-card__content">
              <div class="product">
                <div class="product__info">
                  <p class="product__crumbs">small text • 300g</p>
                  <h5 class="product__name">Salty & Nutty</h5>
                  <p class="product__description">
                    Biskviti s lješnjacima, slani karamel, krema od mascarponea
                    i karamela
                  </p>
                </div>
              </div>
              <div class="product__price">
                <span class="product__price--currency">HRK</span>
                <span class="product__price--amount">22.00</span>
              </div>
              <div class="product__buttons">
                <button class="btn btn--primary">Dodaj u košaricu</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-offer">
        <div class="title-box row">
          <box-icon class="icon" name="discount" type="solid"></box-icon>
          <h2>Posebna ponuda</h2>
        </div>
        <div class="">
          <div class="product-grid">
            <div class="product-card" v-for="i in 12">
              <div class="product-card__image">
                <img src="./assets/images/product-01.avif" alt="" />
              </div>
              <div class="product-card__content">
                <div class="product">
                  <div class="product__info">
                    <p class="product__crumbs">small text • 300g</p>
                    <h5 class="product__name">Salty & Nutty</h5>
                    <p class="product__description">
                      Biskviti s lješnjacima, slani karamel, krema od
                      mascarponea i karamela
                    </p>
                  </div>
                </div>
                <div class="product__price">
                  <span class="product__price--currency">HRK</span>
                  <span class="product__price--amount">22.00</span>
                </div>
                <div class="product__buttons">
                  <button class="btn btn--primary">Dodaj u košaricu</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-categories row">
        <div class="categories__grid">
          <div class="categories__product-grid">
            <div
              class="categories__card category-card"
              v-for="cat in categoriesSweet"
              :key="cat.id"
              :id="`cat-${cat.id}`"
            >
              <h4 class="category-card__label">{{cat.label}}</h4>
            </div>
          </div>
          <h3 class="categories__title">SLATKO</h3>
        </div>
        <div class="categories__grid reverse">
          <h3 class="categories__title reverse">SLANO</h3>
          <div class="categories__product-grid">
            <div
              class="categories__card category-card"
              v-for="cat in categoriesSweet"
              :key="cat.id"
              :id="`cat-${cat.id}`"
            >
              <h4 class="category-card__label">{{cat.label}}</h4>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
